.weather-card {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(123, 123, 247);
  border-radius: 10px;
  padding-left: 50px;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 0 auto;
  height: 700px;
  margin-top: 15px;
}