.weather-card {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(242, 242, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin-top: 15px;
  height: auto;
  background-image: url('./image.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .weather-card{
    padding: 50px;
    width: 90%;
    font-size: 20px;
  }
  
}
@media (max-width: 500px) {

  .weather-card {
    width: 90%;
    padding: 20px;
    text-align: center;

  }
}
