button{
    margin-right: 4%;
    margin-left: 8%;
    font-size: 18px;
    background: #cecedd;
    color: rgb(18, 18, 19);
    border-color: #cecedd;
    box-shadow: 1px 1px rgb(78, 73, 73);
}
button:hover{
    background: white;
}

.cities{
    text-align: center;
}
form{
    margin-top: 40px;
    text-align: center;
}
#cityInput{
    font-size: 18px;
    padding: 5px;
    width: 350px;
    border-radius: 5px;
}
#search-btn{
    font-size: 18px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-left: 17%;
    background-color: #cecedd;
}
#search-btn:hover{
    background: white;
}

.time-date{
    
    line-height: 20px;
    color: rgb(48, 43, 43);
    font-family: "Oswald", sans-serif;
    font-style: normal;
    margin-top: 8px;
}

.city-name{
    margin-top: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 70%;
}

.temperature{
    margin-right: 60%;
}
#temp{
    font-size: 35px;
    font-weight: 500;
}
#unit{
    font-size: 18px;
    position: relative;
    bottom: 18px;
    color: rgb(71, 55, 55);
}
.current-img{
    width: 120px;
    position: relative;
    bottom: 20px;
    right: 30%;
}
#define{
    font-size: 1.2em;
    position: relative;
    bottom: 20px;
    right: 30%;
    font-weight: 600;
}

.humidity-wind{
    position: relative;
    left: 30%;
    bottom: 150px;
    font-weight: 700;
}
.wind{
    margin-top: 30px;
}


.current-weather {
    margin-bottom: 20px;
}

.forecast-container {
    display: flex;
   justify-content: space-between;
   position: relative;
   bottom: 30px;

}

.forecast-item {
    flex: 0 0 auto;
    width: 35%;
    text-align: center ;
    padding: 0px;
    border-radius: 8px;
    background-color: #d0d0e6;
    margin-right: 12%;
    box-shadow: 1px 1px rgb(49, 47, 47);
}

.forecast-item img {
    width: 50%;
    height: 50%;
}

.forecast-item div {
    margin-top: 5px;
}

.min{
    color: rgb(73, 67, 67);
}
.max{
    font-weight: 400;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(25, 27, 29);
    font-size: 20px;
}

.link{
    position: relative;
    bottom: 30%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-align: center;
    color: rgb(243, 233, 236);
    font-size: 1em;
}
.link a{
    text-decoration: none;
}

.link a:hover {
text-decoration: underline;
color: rgb(181, 216, 25);
}

@media (max-width: 768px) {
   
    .temperature {
        margin-right: 0;
        text-align: center;
    }
    .humidity-wind{
        color: #ececf5;
        font-size: 18px;
    }
    .forecast-container{
        flex-wrap: wrap;
    }
    .forecast-item{
        width: 45%;
        margin-right: 5%;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {

    .temperature {
        font-size: 1.5em;
    }

    .forecast-item {
        flex: 0 0 90%;
        margin-right: 0;
        
    }
    .humidity-wind {
    color: #23232c;
    font-size: 18px;
    position: relative;
    bottom: 30px;
    left: 20px;
   }
   #define{
      font-size: 18px;
      position: relative;
      right: 20px;
      bottom: 20px;
   }
   button{
    margin-top: 20px;
   }
   #cityInput{
    width: 200px;
   }
}