button{
    margin-right: 40px;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 18px;
    background: #cecedd;
    color: rgb(18, 18, 19);
    border-color: #cecedd;
    box-shadow: 1px 1px rgb(78, 73, 73);
}
button:hover{
    background: white;
}

.cities{
    text-align: center;
}
form{
    margin-top: 40px;
    text-align: center;
}
#cityInput{
    font-size: 18px;
    padding: 5px;
    width: 350px;
    border-radius: 5px;
    padding-right: 0px;
}
#search-btn{
    font-size: 18px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: #cecedd;
}
#search-btn:hover{
    background: white;
}

.time-date{
    margin-left: 60px;
    line-height: 20px;
    color: rgb(48, 43, 43);
    font-family: "Oswald", sans-serif;
    font-style: normal;
    margin-top: 5px;
}

.city-name{
    margin-top: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: regular;
}

.temperature{
    margin-right: 400px;
    padding-left: 80px;
}
#temp{
    font-size: 35px;
    font-weight: 500;
}
#unit{
    font-size: 20px;
    position: relative;
    bottom: 18px;
    color: rgb(71, 55, 55);
}
.current-img{
    width: 120px;
    position: relative;
    bottom: 20px;
    left: 50px;
}
#define{
    font-size: 18px;
    position: relative;
    bottom: 20px;
    left: 40px;
    font-weight: 600;
}

.humidity-wind{
    position: relative;
    left: 330px;
    bottom: 150px;
    font-weight: 700;
}
.wind{
    margin-top: 30px;
}


.current-weather {
    margin-bottom: 20px;
}

.forecast-container {
    display: flex;
   justify-content: space-between;
   position: relative;
   bottom: 30px;

}

.forecast-item {
    flex: 0 0 auto;
    width: 90px;
    text-align: center ;
    padding: 0px;
    border-radius: 8px;
    background-color: #cacaff;
    margin-right: 40px;
    box-shadow: 1px 1px rgb(49, 47, 47);
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.forecast-item div {
    margin-top: 5px;
}

.min{
    color: rgb(73, 67, 67);
}
.max{
    font-weight: 400;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(25, 27, 29);
    font-size: 20px;
}